{% extends 'catalog/base.html' %}

{% block title %}Список товаров {% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h2>Список товаров в {{ product.category }}</h2>
<ul class="list-group">
    {% for product_ in product_list_in_category %}
        <li class="list-group-item">
            <a href="{% url 'catalog:product_detail' product.pk %}">{{ product_.product_name }}</a> - {{ product_.price }} руб.
        </li>
    {% empty %}
        <li class="list-group-item">Товары не найдены</li>
    {% endfor %}
</ul>
<a href="{% url 'catalog:product_create' %}" class="btn btn-primary mt-3">Добавить товар</a>
{% endblock %}